<template name="viewsLoginForm">
<div class="row login-form-wrapper">
	<div class="col s3 hidden">
		asasd
	</div>
    <form class="col s8 contain-sm">
    <span class="text-lg text-bold text-primary">
    	Point Blank News LOGIN
    </span>
    <br/><br/><br/>
      <div class="row form-group">
        <div class="input-field">
          <input id="email" type="email" class="validate form-control">
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
      </div>
      <div class="row form-group">
      	<div class="input-field">
      		<input id="password" type="password" class="validate form-control">
      		<label for="password" data-error="wrong" data-success="right">Password</label>
      	</div>
      </div>
      <a class="waves-effect waves-light btn right">SUBMIT</a>
    </form>
</div>
</template>