img {
    vertical-align: middle;
}

.login-form-wrapper{
	padding-top: 15%;
}

.contain-sm {
    max-width: 769px;
    margin-left: auto;
    margin-right: auto;
}

.hidden{
	visibility: hidden;
}

.text-lg {
    font-size: 125%;
}

.text-bold {
    font-weight: 700;
}

.text-primary {
    color: #0aa89e;
}

.dropdown-content i{
	color:#F4736A;
}

.dropdown-button img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 15px;
}

i{
	vertical-align: middle;
}

.nav-right-side{
	margin-right: 10px;
}

.nav-side-nav i{
	padding-right: 15px;
}

.nav-side-nav li{
	display: block;
}

.tabs .tab{
	float: none;
}

.tabs .tab a{
	color: #000;
}

.tabs .tab a:hover{
	color: #333;
	background: #fff;
}


.tabs .tab a.active{
	background: #fff;
}

.tab-content{
	padding:30px;
}